@font-face {
        font-family: 'Poppins';
        src: url('../../assets/fonts/poppins-v20-latin-regular.eot');
        src: local('Poppins Thin Italic'), local('Poppins-ThinItalic'),
            url('../../assets/fonts/poppins-v20-latin-regular.woff') format('woff'),
            url('../../assets/fonts/poppins-v20-latin-regular.ttf') format('truetype');
        font-weight: 100;
        font-style: italic;
    }