@import './fonts/font.scss';
@import '../components/main/modules/base64image.scss';
@import './style-base-64.scss';
@import '../components/main/stylemain.scss';

$color-prime: #145b61;
$color-secondary: #3b3d4a;
$color-yellow: #db9327;
$color-w-g: #fdfdfd;
$max-1507: 1507px;

@mixin d-flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1, h2, h3, h4, h5, h6, p{
  color: #535353;
  margin: 0;
}
h1{
  color: $color-w-g;
  font-size: 5em;
  @media (max-width: $max-1507) {
    font-size: 4em;
  }
}
h2{
  color: $color-w-g;
  font-size: 2em;
  @media (max-width: $max-1507) {
    font-size: 1.8em;
  }
}
h3{
  color: $color-w-g;
  font-size: 2em;
  font-weight: 400;
}
h4{
  font-size: 20px;
  font-weight: 400;
}

button{
  cursor: pointer;
}

html{
  scroll-padding-top: 60px;
  --webkit-scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', serif;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --webkit-scroll-behavior: smooth;
  -moz-osx-scroll-behavior: smooth;
  overflow: overlay;
}

::-webkit-scrollbar{
  margin-right: 2px;
  width: 6px;
  height: 100%;
}
::-webkit-scrollbar-button{
  display: none;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece{
  background-color: transparent;
  display: none;
}

::-webkit-scrollbar-thumb{
  border-radius: 3px;
  width: 6px;
  background-color: rgba(#aaaaaa, 0.3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-more-wrapper{
  @include d-flex-center();
}

.button-more{
  padding: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 200;
  background-color: #0C8F81;
  border: none;
  color: $color-w-g;
  transition: all 0.2s ease;
  &:hover{
    color: $color-secondary;
    background-color: $color-w-g;
  }
}

.c-prime{
  color: $color-prime;
  &:hover{
    color: rgba($color-prime, 0.7);
  }
}

.color-w-g{
  color: $color-w-g;
}

.w-100{
  width: 100%;
}

.c-p{
  cursor: pointer;
}

@for $i from 1 through 20 {
    .m-#{$i}{
    margin: 8px * $i;
  }
    .p-#{$i}{
    padding: 8px * $i;
  }
}
@for $i from 1 through 20 {
    .m-t-#{$i}{
    margin-top: 8px * $i;
  }
    .p-t-#{$i}{
    padding-top: 8px * $i;
  }
}
@for $i from 1 through 20 {
    .m-l-#{$i}{
    margin-left: 8px * $i;
  }
    .p-l-#{$i}{
    padding-left: 8px * $i;
  }
}
@for $i from 1 through 20 {
    .m-r-#{$i}{
    margin-right: 8px * $i;
  }
    .p-r-#{$i}{
    padding-right: 8px * $i;
  }
}
@for $i from 1 through 20 {
    .m-b-#{$i}{
    margin-bottom: 8px * $i;
  }
    .p-b-#{$i}{
    padding-bottom: 8px * $i;
  }
}

.bg-tr{
  background: transparent;
}

.bg-c-prime{
  background-color: $color-prime;
  height: 59px;
}

.bg-c-transparent{
  background-color: transparent;
  height: 99px;
  
}

.bg-c-second{
  background-color: $color-secondary;
}

.header{
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s ease-in-out 3ms;
  border-bottom: 1px solid rgba($color-w-g, 0.2);
  position:fixed;
  @include d-flex-center();
  flex-direction: row;
  justify-content: space-between;
}

.logo-header{
  height: 59px;
  width: 59px;
}

.main_logo{
  height: 59px;
  filter: invert(95%);
}

.nav-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item-nav-link{
  @include d-flex-center();
  flex-direction: row;
}

.text-nav{
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.05em;
  &:hover{
    animation: opac 0.2s ease-in-out; 
    opacity: 0.6;
  }
}
@keyframes opac {
  from {
    opacity: 1;
  }
  50%{
    opacity: 0.9;
  }
  to {
    opacity: 0.5;
  }
}

.social-header{
  @include d-flex-center();
}

.item_social{
  color: rgba(white, 0.8);
  &:hover{
    animation: opac 0.3s ease-in-out;
    opacity: 0.5;
  }
}

.border-vertical{
  border-left: 1px solid rgba(255,255,255,0.5);
  height: 12px;
}

.index-layout{
  min-height: calc(100vh - 75px);
}

.main_container{
  min-height: calc(100vh - 75px);
  @include d-flex-center();
  flex-direction: column;
  scroll-behavior: smooth;
}

.footer{
  height: 70px;
  width: 100%;
  background-color: $color-secondary;
  @include d-flex-center();
  .footer-inner{
    width: 1160px;
    height: inherit;
    background-color: inherit;
    @include d-flex-center();
    justify-content: space-between;
    .footer-name{
      color: rgba($color-w-g,0.2);
      font-size: 14px;
      font-weight: 400;
    }
    .footer-social{
      @include d-flex-center();
      flex-direction: row;
    }
  }
}


.greeting{
  color: white;
  min-height: 100vh;
}

.greeting-image {
  filter: brightness(50%);
  background-size: 100%;
  background-position: center;
  transition: all 10s ease-out 3ms;
  position: absolute;
  height: calc(100vh);
  width: 100%;
}

.greeting-title {
  @include d-flex-center();
  flex-direction: column;
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  filter: brightness(1);
  opacity: 0;
  transition: all 1.5s ease-in-out 0.3s;
  max-width: 90vw;
}

.greet-button{
  scale: 0.6;
  transition: all 0.3s ease-in-out;
}

.greet-title-0{
  scale: 0.6;
  transition: all 1.5s ease-in-out 0.3s;
}

.show-opacity {
  opacity: 1;
  scale: 1;
}
.scale{
  background-size: 160%;
}

.block {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.block-content {
  max-width: 1160px;
  flex-direction: column;
  margin: 3em auto;
}

.b-d-f-c{
  @include d-flex-center();
  background-size: cover;
  background-position: center;
}

.about-block {
  background-color: $color-w-g;
  background-attachment: scroll;
  .text-p{
    @include d-flex-center();
    p{
      text-align: center;
    }
  }
  h4 {
    @include d-flex-center();
  }
}

.about-title{
  justify-content: left;
  align-items: left;
}

.button-n-hover{
  &:hover{
    background-color: #0C8F81;
    color: $color-w-g;
  }
}

.title {
  font-size: 2.6em;
  font-weight: 700;
  line-height: 120%;
  justify-self: start;
  align-self: flex-start;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -0.5px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.7s ease-in-out 0.2s;
}

.show-title {
  opacity: 1;
  transform: translateY(0);
}

.title_divider {
  margin-left: 1px;
  border-bottom-width: 8px;
  border-bottom-style: solid;
  padding-top: 0px;
  margin-bottom: 20px;
  border-bottom-color: $color-yellow;
  width: 4em !important;
  justify-self: start;
  align-self: flex-start;
}
.meeting{
  background-attachment: fixed;
}

.title-all-h2{
  font-size: 42px;
  overflow: hidden;
}

.title-bot-line{
  height: 8px;
  width: 65px;
  background-color: $color-yellow;
}

.c-black{
  color: #31333B;
}
.c-white{
  color: $color-w-g;
}

.meeting-flex {
  display: flex;
  padding: 5px;
  flex-direction: row;
  justify-content: space-between;
  height: 460px;
}
.meeting-items-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: calc(50% - 10px );
  height: 100%;
  gap: 20px;
}

.item-meeting{
  @include d-flex-center();
  background-size: 100%;
  
  .centered {
    color: $color-w-g;
    border: solid 3px $color-yellow;
    padding: 1em;
    font-size: 18px;
    font-weight: 400 !important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px !important;
    width: 60%;
    pointer-events: none;
    padding: 10px 20px;
}
}

.sunday-service {
  width: calc(50% - 10px );
  height: 100%;
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/picture/sunday-service.jpg');
  background-size: cover;
  @include d-flex-center();

  .centered {
    color: $color-w-g;
    border: solid 3px $color-yellow;
    padding: 1em;
    font-size: 35px;
    font-weight: 300 !important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px !important;
    width: 60%;
    padding: 10px 20px;
    pointer-events: none;
  }
}

.dimming{
  display: flex;
  position:fixed;
  top: 0;
  left: 0;
  background-color: rgba(#000, 0.7);
  width: 100vw;
  height: 100%;
  z-index: 1000;
}

.modal-meeting{
  position:fixed;
  top: 50%;
  left: 50%;
  display: none;
  opacity: 0;
  width: 75%;
  height: 300px;
  background-color: $color-prime;
  transform: translate(-50%, -100%);
  transition: all 0.4s ease-in-out;
  z-index: 1000;
  .modal-title{
    width: 80%;
    text-align: start;
    padding-left: 30px;
    margin-bottom: 20px;
    h2{
      color: $color-yellow;
    }
    
  }
  .modal-description{
    width: 80%;
    padding-left: 60px;
    h4{
      color: $color-w-g;
    }
  }
}
.modal-visible{
  @include d-flex-center();
  flex-direction: column;
  opacity: 1;
}

.teaching{
  background-color: $color-w-g;
}

.questions{
  background-attachment: fixed;
  backdrop-filter: blur(30px);
  .block-content{
    @include d-flex-center();
    flex-direction: column;
  }
  .questions-block-accordion{
    display: flex;
    flex-direction: column;
    justify-items: start;
  }
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
label {
  position: relative;
  display: block;
  cursor: pointer;
  background: transparent;
  color: white;
  padding: .5em;
}
section {
  max-height: 0;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
@for $i from 0 to 6 {
    #toggle#{$i}:checked ~ #content#{$i}{
    max-height: 6em;
  }
}


.events{
  background-color: $color-w-g;
}

.pastor_blog{
  background-attachment: fixed;
}

.support{
  background-color: $color-w-g;
}

.contact{
  background-color: $color-secondary;
}

.close{
    position: absolute;
    top: 0;
    right: 16px;
    cursor: pointer;
    &::before, &::after{
    content: "";
    position: absolute;
    width: 32px;
    height: 5px;
    background: $color-w-g;
    }
    &::before{
      transform: rotate(45deg);
    }
    &::after{
    transform: rotate(-45deg);
    }
}

.ymap {
  height: 400px;
}

.map-ctrl-display {
  width: 100%; 
  height: 400px;
  position: absolute; 
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 100; 
  pointer-events: none;
  opacity: 0;
}

.map-ctrl-display-text{
  position: relative; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  color: white; 
  text-align: center; 
  font-size: 1.5em; 
  pointer-events: none;
}

.map-ctrl-display-effect{
  animation: map-opacity-animation 1.5s ease-in-out; 
  pointer-events: none;
}
@keyframes map-opacity-animation {
  from {
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}