@import './fonts/font.scss';
@import '../components/main/modules/base64image.scss';
@import './style-base-64.scss';
@import '../components/main/stylemain.scss';

:root{
  --color-prime: #145b61;
  --color-prime-two: #0c8f7f;
  --color-secondary: #3b3d4a;
  --color-yellow: #db9327;
  --color-white: #fdfdfd;
  --mobile-breakpoint: 576px;
}

$color-prime: var(--color-prime);
$color-secondary: var(--color-secondary);
$color-yellow: #db9327;
$color-w-g: #fdfdfd;
$max-1507: 1507px;
$color-prime-two: var(--color-prime-two);
$color-white: #fdfdfd;
// $mobile: var(--mobile-breakpoint);

$mobile: 576px;

*{
  scroll-padding-top: 59px !important;
}

@mixin d-flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1, h2, h3, h4, h5, h6, p{
  color: #535353;
  margin: 0;
}
h1{
  color: $color-w-g;
  font-size: 5em;
  @media (max-width: $max-1507) {
    font-size: 4em;
  }
  @media (max-width: $mobile)  {
    font-size: 2.1em;
  }
}
h2{
  color: $color-w-g;
  font-size: 2em;
  @media (max-width: $max-1507) {
    font-size: 1.8em;
  }
  @media (max-width: $mobile)  {
    font-size: 1.5em;
  }
}
h3{
  color: $color-w-g;
  font-size: 2em;
  font-weight: 400;
  @media (max-width: $mobile)  {
    font-size: 0.9em;
  }
}
h4{
  font-size: 20px;
  font-weight: 400;
}
a{
  text-decoration: none;
}

button{
  cursor: pointer;
}

abbr[title]{
  text-decoration: none;
}

html{
  scroll-padding-top: 59px !important;
}

body {
  margin: 0;
  scroll-padding-top: 59px !important;
  --webkit-scroll-padding-top: 59px !important;
  --moz-osx-scroll-padding-top: 59px !important;
  scroll-padding-top: 59px !important;
  font-family: 'Poppins', serif;
  font-family: 'Poppins', sans-serif;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  --webkit-scroll-behavior: smooth;
  --moz-osx-scroll-behavior: smooth;
  overflow: overlay;
}

::-webkit-scrollbar{
  margin-right: 2px;
  width: 6px;
  height: 100%;
}
::-webkit-scrollbar-button{
  display: none;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece{
  background-color: transparent;
  display: none;
}

::-webkit-scrollbar-thumb{
  border-radius: 3px;
  width: 6px;
  background-color: rgba(#aaaaaa, 0.3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-more-wrapper{
  @include d-flex-center();
}

.ytp-watch-later-button, .ytp-button, .ytp-show-watch-later-title{
  display: none;
}

.ytp-large-play-button{
  width: 34px !important;
  height: 24px !important;
}

.ytp-big-mode .ytp-chrome-top .ytp-watch-later-button, .ytp-chrome-top .ytp-watch-later-button{
  display: none !important;
}

.html5-video-player:not(.ytp-big-mode) .ytp-chrome-top .ytp-share-button{
  display: none !important;
}
.button-more{
  padding: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 200;
  background-color: #0C8F81;
  border: none;
  color: $color-w-g;
  transition: all 0.2s ease;
  &:hover{
    color: $color-secondary;
    background-color: $color-w-g;
  }
}

.c-prime{
  color: $color-prime;
  &:hover{
    color: rgba($color-prime, 0.7);
  }
}

.color-w-g{
  color: $color-w-g;
}

.w-100{
  width: 100%;
}

.c-p{
  cursor: pointer;
}

@for $i from 1 through 20 {
    .m-#{$i}{
    margin: 8px * $i;
  }
    .p-#{$i}{
    padding: 8px * $i;
  }
}
@for $i from 1 through 20 {
    .m-t-#{$i}{
    margin-top: 8px * $i;
  }
    .p-t-#{$i}{
    padding-top: 8px * $i;
  }
}
@for $i from 1 through 20 {
    .m-l-#{$i}{
    margin-left: 8px * $i;
  }
    .p-l-#{$i}{
    padding-left: 8px * $i;
  }
}
@for $i from 1 through 20 {
    .m-r-#{$i}{
    margin-right: 8px * $i;
  }
    .p-r-#{$i}{
    padding-right: 8px * $i;
  }
}
@for $i from 1 through 20 {
    .m-b-#{$i}{
    margin-bottom: 8px * $i;
  }
    .p-b-#{$i}{
    padding-bottom: 8px * $i;
  }
}

.bg-tr{
  background: transparent;
}

.bg-c-prime{
  background-color: $color-prime;
  height: 59px;
  @media (max-width: $mobile) {
    height: 70px;
  }
}

.bg-c-transparent{
  background-color: transparent;
  height: 99px;
  @media (max-width: $mobile) {
    height: 90px;
    background-color: $color-prime;
  }
}

.bg-c-second{
  background-color: $color-secondary;
}

.header{
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s ease-in-out ;
  border-bottom: 1px solid rgba($color-white, 0.2);
  position:fixed;
  @include d-flex-center();
  flex-direction: row;
  justify-content: space-between;
}

.logo-header{
  height: 59px;
  width: 59px;
  @media (max-width: $mobile) {
  margin-left: 15px;
  }
}

.main_logo{
  height: 59px;
  filter: invert(95%);
}

.nav-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media (max-width: 1065px) {
    display: none;
  }
}

.item-nav-link {
  @include d-flex-center();
  flex-direction: row;
}

.text-nav{
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.05em;
  &:hover{
    animation: opac 0.2s ease-in-out; 
    opacity: 0.6;
  }
}
@keyframes opac {
  from {
    opacity: 1;
  }
  50%{
    opacity: 0.9;
  }
  to {
    opacity: 0.7;
  }
}

.social-header{
  @include d-flex-center();
  @media (max-width: $mobile) {
    margin-right: 15px;
    > a {
      padding: 3px;
    }
  }
}

.item_social{
  color: rgba(white, 0.8);
  transition: all 0.4s ease-in-out;
  &:hover{
    animation: opac 0.3s ease-in-out;
    opacity: 0.5;
  }
}

.border-vertical{
  border-left: 1px solid rgba(255,255,255,0.5);
  height: 12px;
}

.index-layout{
  min-height: calc(100vh - 70px);
}

.main_container{
  min-height: calc(100vh - 70px);
  max-width: 100vw;
  @include d-flex-center();
  flex-direction: column;
  scroll-behavior: smooth;
}

.footer{
  height: 70px;
  width: 100vw;
  background-color: $color-secondary;
  @include d-flex-center();
  @media (max-width: $mobile) {
    height: 90px;
  }
  .footer-inner{
    width: 1160px;
    height: inherit;
    background-color: inherit;
    @include d-flex-center();
    justify-content: space-between;
    @media (max-width: $mobile) {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
      }
    .footer-name{
      color: rgba($color-w-g,0.2);
      font-size: 14px;
      font-weight: 400;
    }
    .footer-social{
      @include d-flex-center();
      flex-direction: row;
    }
  }
}


.greeting{
  color: white;
  min-height: 100vh;
  width: 100vw;
}

.greeting-image {
  background-size: 100%;
  transition: all 10s ease-out 3ms;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  @media (max-width: $mobile)  {
    background-position-y:center;
  }
}

.greeting-title {
  @include d-flex-center();
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(1);
  opacity: 0;
  transition: all 1.5s ease-in-out 0.3s;
  max-width: 90vw;
  @media (max-width: $mobile)  {
    width: 100%;
  }
}

.greet-button{
  scale: 0.6;
  transition: all 0.3s ease-in-out;
}

.greet-title-0{
  scale: 0.6;
  transition: all 1.5s ease-in-out 0.3s;
}

.show-opacity {
  opacity: 1;
  scale: 1;
}
.scale{
  background-size: 160%;
  @media (max-width: $mobile)  {
    background-size:cover;
  }
}


.block-content {
  max-width: 1160px;
  flex-direction: column;
  margin: 3em auto;
  @media (max-width: $mobile) {
    max-width: 92%;
  }
  > p{
    font-weight: 300;
    color: rgba($color-secondary, 0.8);
    font-size: 16px;
    line-height: 26px;
  }
}

.b-d-f-c{
  @include d-flex-center();
  background-size: cover;
  background-position: center;
}

.about-block {
  background-color: $color-w-g;
  background-attachment: scroll;
  h4 {
    @include d-flex-center();
  }
}
.text-p{
  @include d-flex-center();
  p{
    text-align: center;
    font-weight: 300 !important;
    font-size: 16px !important;
    line-height: 26px !important;
  }
}

.about-title{
  justify-content: left;
  align-items: left;
}

.button-n-hover{
  &:hover, &:focus{
    background-color: #0C8F81;
    color: $color-w-g;
  }
}

.title {
  font-size: 2.6em;
  font-weight: 700;
  line-height: 120%;
  justify-self: start;
  align-self: flex-start;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -0.5px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-in-out 0.2s;
}

.title_block{
  overflow: hidden;
}

.show-title {
  opacity: 1;
  transform: translateY(0);
}

.title_divider {
  margin-left: 1px;
  border-bottom-width: 8px;
  border-bottom-style: solid;
  padding-top: 0px;
  margin-bottom: 20px;
  border-bottom-color: $color-yellow;
  width: 4em !important;
  justify-self: start;
  align-self: flex-start;
}
.meeting{
  background-attachment: fixed;
  @media (max-width: $mobile) {
    height: 100%;
  }
}

.title-all-h2{
  font-size: 42px;
  overflow: hidden;
}

.title-bot-line{
  height: 8px;
  width: 65px;
  background-color: $color-yellow;
}

.c-black{
  color: #31333B;
}
.c-white{
  color: $color-w-g;
}

.meeting-flex {
  display: flex;
  padding: 5px;
  flex-direction: row;
  justify-content: space-between;
  height: 460px;
  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 20px;
    padding: 0 auto;
  }
}
.meeting-items-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: calc(50% - 10px );
  min-height: 100%;
  gap: 20px;
  @media (max-width:$mobile)  {
    grid-template-columns: repeat(1, 1fr);
    width: calc(100%);
    height: 100%;
    background-size: cover;
  }
}

.item-meeting{
  @include d-flex-center();
  background-size: 100%;
  @media (max-width: $mobile) {
    width: calc(100%);
    padding: 20px 0;
  }
  .centered {
    color: $color-w-g;
    border: solid 3px $color-yellow;
    padding: 1em;
    font-size: 18px;
    font-weight: 400 !important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px !important;
    width: 70%;
    pointer-events: none;
    padding: 10px 20px;
    @media (max-width: $mobile) {
      letter-spacing: 2px !important;
      font-size: 25px;
      padding: 0.6em;
      font-weight: 300 !important;
    }
}
}

.sunday-service {
  width: calc(50% - 10px);
  height: 100%;
  background-size: cover;
  @include d-flex-center();
  @media (max-width: $mobile) {
    width: calc(100%);
    padding: 55px 0;
  }
  .centered {
    color: $color-w-g;
    border: solid 3px $color-yellow;
    padding: 1em;
    font-size: 35px;
    font-weight: 300 !important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px !important;
    width: 70%;
    padding: 10px 20px;
    pointer-events: none;
    @media (max-width: $mobile) {
      letter-spacing: 2px !important;
      font-size: 25px;
    }
  }
}

.dimming{
  display: flex;
  position:fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(#000, 0.7);
  width: 100vw;
  height: 100%;
  z-index: 1000;
  transition: all 0.4s ease-in-out;
}

.dimming_visible{
  visibility:visible;
  opacity: 1;
}

.modal-meeting{
  display: flex;
  align-items: center;
  flex-direction: column;
  position:fixed;
  top: -70%;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  width: 75%;
  min-height: 270px;
  background-color: #0c8f7f;
  transform: translate(-50%, 0%);
  transition: all 0.4s ease-in-out;
  z-index: 1000;
  .modal-title{
    padding-top: 3rem;
    width: 88%;
    text-align: start;
    margin-bottom: 1rem;
    h2{
      color: $color-yellow;
    }
    
  }
  .modal-description{
    width: 88%;
    padding-bottom: 1.5rem;
    h4{
      color: $color-w-g;
      font-size: 1.0em;
    }
  }
}
.modal-visible{
  visibility:visible;
  top: 25%;
  opacity: 1;
  @media (max-width: $mobile) {
    top: 12%;
  }
}

.stream{
  background-color: $color-w-g;
}

.stream-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  @media (max-width: $mobile) {
    flex-direction: column;
    // align-items: center;
    // gap: 15px;
  }
}

.youtube-grid{
  display: grid;
  grid-template-areas: "a a a" "a a a" "b c d";
  max-width: 46%;
  // height: 100%;
  gap: 10px;
  aspect-ratio: 16/9;
  position:relative;
  @media (max-width: $mobile) {
    max-width: 90%;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    aspect-ratio: auto;
    // display: none;
    // height:100%;
  }
}

.you-0{
  grid-area: a;
  aspect-ratio: 16/9;
  margin-bottom: -6px;
}
.you-1{
  grid-area: b;
}
.you-2{
  grid-area: c;
}
.you-3{
  grid-area: d;
}

@for $i from 1 through 3 {
    .you-#{$i}{
      aspect-ratio: 16/9;
      position: relative;
  }
}

.icon_mini_play{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  pointer-events: none;
  transition: all 0.3s ease-in-out ;
  opacity: 0;
}

.icon_mini_play_visible{
  opacity: 1;
  top: 50%;
}

.you-description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 49%;
  padding: 3px;
  @media (max-width: $mobile) {
    width: 100%;
    padding: 0;
  }
  > p{
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #535353;
    @media (max-width: $mobile) {
      font-size: 14px;
    }
  }
}



.description-youtube-instagram{
  display: block;
  height: 100%;
}

.questions{
  background-attachment: fixed;
  backdrop-filter: blur(30px);
  .questions-block-accordion{
    display: flex;
    flex-direction: column;
    justify-items: start;
    @media (max-width: $mobile) {
      font-size: 14px;
      margin: 0 auto;
      padding-left: 15px;
    }
  }
  
}

.questions_description{
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
label {
  position: relative;
  display: flex;
  cursor: pointer;
  background: transparent;
  color: white;
  padding: .5em;
  padding-left: 1.1em;
  &::before, &::after{
    content: "";
    top: 18px;
    left: -16px;
    position: absolute;
    width: 22px;
    height: 3px;
    background: $color-yellow;
    transition: all 0.4s ease-in-out;
  }
    &::before{
      transform: rotate(90deg);
    }
    &::after{
    transform: rotate(180deg);
    }
}
section {
  max-height: 0;
  color: $color-w-g;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
@for $i from 0 to 6 {
    #toggle#{$i}:checked ~ #content#{$i}{
      margin-bottom: 2rem;
      margin-top: 0.3rem;
      margin-left: 1.2rem;
      max-height: 16em;
      color: rgba(255,255,255,0.9);
    }
    #toggle#{$i}:checked ~ #label#{$i}{
    &::before{
        transform: rotate(0deg);
    }
  }
}


.events{
  background-color: $color-w-g;
}

.pastor_blog{
  background-attachment: fixed;
}

.support{
  background-color: $color-w-g;
}

.contact{
  background-color: $color-secondary;
}

.close{
    position: absolute;
    top: 0;
    right: 16px;
    cursor: pointer;
    &::before, &::after{
    content: "";
    position: absolute;
    width: 32px;
    height: 5px;
    background: $color-w-g;
    }
    &::before{
      transform: rotate(45deg);
    }
    &::after{
    transform: rotate(-45deg);
    }
}

.ymap {
  height: 400px;
}

.map-ctrl-display {
  width: 100%; 
  height: 400px;
  position: absolute; 
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 100; 
  pointer-events: none;
  opacity: 0;
}

.map-ctrl-display-text{
  position: relative; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  color: white; 
  text-align: center; 
  font-size: 1.5em; 
  pointer-events: none;
}

.map-ctrl-display-effect{
  animation: map-opacity-animation 1.8s ease-in-out; 
  pointer-events: none;
}
@keyframes map-opacity-animation {
  from {
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.contact-items{
  margin: 3.8rem 5rem;
  @media (max-width: $mobile) {
    margin: 0rem;
  }
}
.contact-items-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  gap: 20px;
  @media (max-width: $mobile) {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin-right: 3rem;
  }
}

.contact-item{
  background-size: 100%;
  color: white;
  text-align: center;
  font-size: 14px;
  @media (max-width: $mobile) {
    display: flex;
    text-align: left;
  }
}

.contact-item-logo{
  height: 55px;
  margin-bottom: 1rem;
  @media (max-width: $mobile) {
    height: 1em;
    aspect-ratio: 1;
    display: inline;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0.5rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.contact-item-text {
  @media (max-width: $mobile) {
    display: inline;
    margin-right: 1.5rem;
    br {
      display: none;
    }
  }
}


// About page

.about_container{
  display: flex;
  // position: relative;
  flex-direction: column;
}

.bg_greeting_page_title{
  height: 350px;
  width: 100%;
  position: relative;
  @media (max-width: $mobile) {
    height: 250px;
  }
}

.h1-about{
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -0.5px;
  font-weight: bold;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  position: absolute;
  top: calc(50% + 59px);
  left: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: $mobile){
    font-size: 30px !important;
    width: 100% !important;
    text-align: center;
  }
}

.greeting_description{
  margin: 50px auto;
  padding: 50px 10px 40px;
  @media (max-width: $mobile){
    padding: 10px;
    margin: 20px auto;
    br{
      margin: 0;
      padding: 0;
    }
    p{
      font-size: 14px;
      line-height: 21px;
    }
  }
  
}

.not_visible{
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease;
}

.visible{
  visibility: visible;
  opacity: 1;
}

.bg_about_page_title{
  height: 540px;
  width: 100%;
  position: relative;
  ._h1{
    font-size:4.5em;
    font-weight: 800;
  }
  @media (max-width: $mobile){
    height: 250px;
  }
}

.about_links_container{
  min-height: 194px;
  background-color: #615f5f;
  padding-top: 40px;
  padding-bottom: 40px;
  @include d-flex-center();
  .block-content_{
    max-width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    h6{
      text-align: center;
      font-size: 24px !important;
      font-weight: 500 !important;
      color: #fff !important;
      line-height: 38px !important;
    }
  }
  @media (max-width: $mobile){
    .block-content_{
      padding: 0 10px;  
      h6{
        text-align: center;
        font-size: 16px !important;
        font-weight: 400 !important;
        line-height: 25px !important;
      }
    }
  }
}

.about_links{
  margin-top: 50px;
  display: grid;
  grid-template-columns:  repeat(4, 20%);
  justify-content:space-around ;
  width: 96%;
  @media (max-width: 1200px) {
    grid-template-columns:  repeat(2, 40%);
    grid-template-rows: repeat(2, 40%);
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
  }
  @media (max-width: 720px){
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  @media (max-width: $mobile){
    grid-template-rows: repeat(2, 40%);
  }
}

.link_about{
    height: 42px;
    border: 3px solid $color-yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    @media (max-width: 1200px) {
      // width: 40%;
    }
    span{
      color: $color-w-g;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
    &:hover, &:focus{
        background-color: $color-prime;
        border-color: $color-prime-two;
    }
    @media (max-width: 720px){
      width: 50%;
    }
    @media (max-width: $mobile){
      width: 15rem;
    }
}

.about_small_info_container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about_small_item{
  background-color: #0c8f7f;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .about_small_text{
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: left;
    padding: 5% 10%;
    > h5 {
      font-weight: 400 !important;
      font-size: 16px !important;
      color: $color-w-g;
    }
  }
  @media (max-width: $mobile){
    display: flex;
    flex-direction: column;
  }
}
._small_bottom{
  @media (max-width: $mobile){
    display: flex;
    flex-direction: column-reverse;
  }
}

.calendar-tile {
  color: #4d4d4d;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 16px;
  aspect-ratio: 1;
  &:hover:not(.cal-has-event) {
    background-color: rgba(142, 138, 138, 0.1);
  } 
  &.cal-has-event:hover,  &.cal-has-event:focus{
    transition: background-color 0.4ms ease-in-out;
    border-radius: 50%;
    background-color: rgba(12, 143, 127, 1);
  } 
}

.cal-selected {
  background-color: rgba(12, 143, 127, 1);
  &:not(.cal-has-event) {
    background-color: rgba(142, 138, 138, 0.1);
  } 
}

.cal-calendar {
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #e8e8e8;
  max-width: 100%;
  box-shadow: 0 2px 0 0 #000000 / 2%;
  @media (max-width: $mobile) {
    max-width: 100%;
  }
  .cal-calendar-topsec {
    background: #fff;
    display: flex;
    flex-direction: row;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  .cal-calendar-side {
    width: 55%;
    padding: 35px;
    position: relative;
    text-align: center;
    box-shadow: 0 1px 5px 6px #000000 / 1% inset;
    @media (max-width: $mobile) {
      width: 100%;
      padding: 0;
    }
  }
}

.cal-event{
  opacity: 0;
  transition: all 0.9s ease-in-out;
}
._visible{
  opacity: 1;
}


.cal-clear:after, .cal-clear:before {
  content: " ";
  display: table;
}

.cal-calendar{
  .cal-calendar-events-side {
    overflow: hidden;
    
    display: table-cell;
    height: 100%;
    border-left: 1px solid #efefef;
    padding: 35px;
    width: 45%;
    @media (max-width: $mobile) {
      width: 100%;
      padding: 0;
    }
    .cal-event-article{
      @media (max-width: $mobile) {
        padding: 25px 10px;
      }
    }
  }
}

.cal-has-event:not(.cal-selected):after {
  background-color: rgba(219, 147, 39, 0.9);
  border-radius: 50%;
  display: block;
  content: "";
  width: 7px;
  aspect-ratio: 1;
  margin: -4px 0 0 -4px;
  transition: all .15s ease;
  position: relative;
  top: 15%;
  left: 50%;
}

.cal-has-event:hover::after {
  background-color: rgba(255, 255, 255, 1);
}


.cal-table-side-title {
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 14px;
  @media (max-width: $mobile) {
    border-top: 1px solid #efefef;
    margin-top: 10px;
  }
}

.cal-table-side-day {
  width: 46px;
  height: 46px;
  margin: 0 auto 20px;
  position: relative;
  text-align: center;
  line-height: 46px;
  font-weight: 600;
  font-size: 20px;
  color: #db9327;
}

.cal-event-article {
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 25px;
  padding-top: 26px;
  border-top: 1px solid #efefef;
  transition: all .33s ease;
  cursor: default;
  &:hover {
    background-color: #fafafa;
  }

}

.cal-event-article .cal-event-image {
  float: left;
  margin-right: 20px;
  width: 65px;
  height: auto;
}

.cal-event-article .cal-event-time {
  font-size: 11px;
  line-height: 1.1;
  margin: 0;
  color: #db9327;
}

.cal-event-article .cal-sl-clock-o {
  &:before {
    content: "\25F7   ";
  }
}

.cal-event-title {
  font-weight: 500;
  color: #0c8f7f;
  font-size: 20px;;
}

.cal-event-detail {
  font-size: 13px;
  line-height: 1.3;
  color: #9a9a9a;
  margin-bottom: 0;
}

@mixin cal-month-navigation() {
  cursor: pointer;
  position: absolute;
  top: 0;
  min-width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #fff;
  color: #a9a9a9;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #efefef;
  border-top: none;
  box-shadow: 0 2px 0 0 #000000 / 2%;
  transition: all .33s ease;
  &:hover {
    background-color: #f9f9f9;
  }
}

.react-calendar__month-view__days{
  display: grid;
  grid-template-columns: repeat(7, 15px);
}

.react-calendar__month-view__weekdays__weekday{
  font-weight: 700;
}

.react-calendar__navigation__label {
  margin-top: 35px;
  margin-bottom: 25px;
  border: none;
  background: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  color: #333;
  display: block;
  pointer-events: none;
  @media (max-width: $mobile) {
    margin-top: 55px;
    text-align: center;
  }
}

.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation__prev-button {
  left: 0;
  border-bottom-right-radius: 6px;
  border-left: none;
  @include cal-month-navigation();
  &:before {
    content: "\276C";
    font-size: 16px;
    color: rgba(64, 217, 241, 0.7);
    cursor: pointer;
    vertical-align: 0%;
  }
}

.react-calendar__navigation__next-button {
  right: 0;
  border-bottom-left-radius: 6px;
  border-right: none;
  @include cal-month-navigation();
  &:after {
    content: "\276D";
    font-size: 16px;
    color: rgba(64, 217, 241, 0.9);
    cursor: pointer;
    vertical-align: 0%;
  }
}

.about_pastors_container{

}

.block_content_about{
  max-width: 85%;
  flex-direction: column;
  margin: 3em auto;
}
.about_faith_container{
  transition: height 0.6s ease-in-out;
}

.faith_items{
  max-width: 90%;
  color:#fdfdfd;
}
.button_answers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 40px;
  gap: 3px;
  @media (max-width: $mobile) {
    line-height: 30px;
    gap: 2px;
  }
}
.item_button_answers{
  cursor: pointer;
  padding: 2px 20px;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
  align-items: center;
  &::shadow{
    background-color: red;
    border-radius: 30px;
  }
  &:hover{
    color: #d14f42;
  }
  span{
    font-weight: bold;
    font-size: 22px;
    font-style: normal;
    text-transform: uppercase;
  }
  @media (max-width: $mobile) {
    span{
      font-weight:400;
      font-size: 18px;
      font-style: normal;
      // text-transform: uppercase;
    }
  }
}
.active{
  background-color: $color-w-g;
  color: $color-prime;
  &:hover{
    color: $color-prime;
  }
}

.description_text{
  padding: 30px 20px 0;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  transition: all 1s ease-in-out;
  span{
    font-size: 22px;
    text-align: center;
  }
  @media (max-width: $mobile) {
    span{
      font-size: 17px;
      text-align: center;
    }
  }
}

#faith_item_title{
  max-width: 95%; 
  font-size: 22px !important;
  color:#fdfdfd;
  @media (max-width: $mobile) {
    font-size: 17px !important;
  }
}

#arrowAnim {
  width: 20vw;
  height: 20vh;
  position: fixed;
  left: 80%;
  bottom: -7%;
  z-index: 100;
}

.arrow {
  width: 1.2em;
  height: 1.2em;
  border: 0.7em solid;
  border-color: white transparent transparent white;
  transform: rotate(-135deg);
  position: absolute;
}

.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite; 
          animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s; 
    animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s; 
    animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s; 
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% { opacity:0; transform: translateY(-15vw); }	
   25% { opacity:0.6; transform: translateY(-9vw); }
   50% { opacity: 0.7; transform: translateY(0vw); }		
   75% { opacity:0.6; transform: translateY(9vw); }	
  100% { opacity:0; transform: translateY(15vw); }	
}
@keyframes slide {
  0% { opacity:0; transform: translateY(-15vw); }	
  25% { opacity:0.6; transform: translateY(-9vw); }
  50% { opacity: 0.7; transform: translateY(0vw); }		
  75% { opacity:0.6; transform: translateY(9vw); }	
 100% { opacity:0; transform: translateY(15vw); }	
}

.show-array{
  opacity: 0;
  transition: 2s;
  animation: show 7s 1;
  animation-delay: 1.2s;
}
@keyframes show {
  from {
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.hide_arrow{
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}
