.greeting-image{
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/picture/general-back.jpg');
        background-position-y: 50%;
}
.questions{
        background-image: url('../assets/picture/question-scaled-1-scaled.jpg');
}
.greeting_image{
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/picture/general-back.jpg');
        background-position-y: 50%;
}

.sunday-service{
        background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/picture/grace.jpg');
}

.meeting{
        background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../assets/picture/spotkania-scaled.jpg');
}

.about_main_image{
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/picture/time_main_about.jpg');
        background-size: cover;
        background-position-y: 35%;
}

.picture_left{
        background: url('../assets/picture/about-page/cross.jpg');
        padding-top: 130px;
        padding-bottom: 130px;
        background-position-y:22%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
}

.picture_right{
        background: url('../assets/picture/about-page/right.jpg');
        padding-top: 130px;
        padding-bottom: 130px;
        background-position-y: 25%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
}

.about_faith_container{
        background: url('../assets/picture/about-page/general-faith.jpg');
        background-size: cover;
        background-attachment:fixed;
}