.item-6{
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/picture/meeting-items/six.jpg");
        background-position-y: 40%;
}
.item-3{
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/picture/meeting-items/image.jpg");
}
.item-4{
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/picture/meeting-items/four.jpg");
        background-position-y: 40%;
}
.item-5{
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/picture/meeting-items/five.jpg");
}
.item-1{
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/picture/meeting-items/one.jpg");
        background-size: 130% !important;
        background-position-y: 40%;
        background-position-x: 40%;
}
.item-2{
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/picture/meeting-items/two.jpg");
        // background-size: 130% !important;
        background-position-y: 40%;
        // background-position-x: 40%;
}