$color-prime: #0c8f7f;
$color-secondary: #3b3d4a;

@mixin d-flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: 'Cinzel', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Varela', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.c-prime{
  color: $color-prime;
  &:hover{
    color: rgba($color-prime, 0.7);
  }
}

.w-100{
  width: 100%;
}

// $cursors: 'pointer', 'default';
// .cr {
//     @each $cursor in $cursors {
//         &-#{$cursor} {
//             cursor: #{$cursor};
//         }
//     }
// }

.c-p{
  cursor: pointer;
}

@for $i from 1 through 10 {
    .m-#{$i}{
    margin: 8px * $i;
  }
    .p-#{$i}{
    padding: 8px * $i;
  }
}
@for $i from 1 through 10 {
    .m-t-#{$i}{
    margin-top: 8px * $i;
  }
    .p-t-#{$i}{
    padding-top: 8px * $i;
  }
}
@for $i from 1 through 10 {
    .m-l-#{$i}{
    margin-left: 8px * $i;
  }
    .p-l-#{$i}{
    padding-left: 8px * $i;
  }
}
@for $i from 1 through 10 {
    .m-r-#{$i}{
    margin-right: 8px * $i;
  }
    .p-r-#{$i}{
    padding-right: 8px * $i;
  }
}
@for $i from 1 through 10 {
    .m-b-#{$i}{
    margin-bottom: 8px * $i;
  }
    .p-b-#{$i}{
    padding-bottom: 8px * $i;
  }
}

.bg-tr{
  background: transparent;
}

.bg-c-prime{
  background-color: $color-prime;
  height: 65px;
}

.bg-c-transparent{
  background-color: transparent;
  height: 99px;
  
}

.bg-c-second{
  background-color: $color-secondary;
}

.header{
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out 15ms;
  border-bottom: 1px solid rgba(#dddddd, 0.2);
  position:fixed;
  @include d-flex-center();
  flex-direction: row;
  justify-content: space-between;
}

.logo-header{
  height: 59px;
  width: 59px;
}

.main_logo{
  height: 59px;
}

.nav-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item-nav-link{
  @include d-flex-center();
  flex-direction: row;
}

.text-nav{
  color: rgba(white, 0.8);
  font-weight: 700;
  font-size: 18px;
  &:hover{
    animation: opac 0.3s ease-in-out;
    opacity: 0.6;
  }
}
@keyframes opac {
  from {
    opacity: 1;
  }
  50%{
    opacity: 0.9;
  }
  to {
    opacity: 0.5;
  }
}

.social-header{
  @include d-flex-center();
}

.item_social{
  color: rgba(white, 0.8);
  &:hover{
    animation: opac 0.3s ease-in-out;
    opacity: 0.5;
  }
}

.border-vertical{
  border-left: 2px solid gray;
  height: 20px;
}
.index-layout{
  min-height: calc(100vh - 75px);
}

.main_container{
  min-height: calc(100vh - 75px);
  @include d-flex-center();
  flex-direction: column;
}

.footer{
  height: 75px;
  width: 100%;
  background-color: $color-secondary;
  @include d-flex-center();
  .footer-inner{
    width: 1160px;
    height: inherit;
    background-color: inherit;
    @include d-flex-center();
    justify-content: space-between;
    .footer-name{
      color: rgba(#dddddd,0.2);
      font-size: medium;
      font-weight: 500;
    }
    .footer-social{
      @include d-flex-center();
      flex-direction: row;
    }
  }
}

.general{
  @include d-flex-center();
  height: calc(100vh - 75px);
  background-color: plum;
}

.about{
  height: 465px;
}

.meeting{
  height: 678px;
}